.academy-link {
  display: flex;
  align-items: center;

  font-size: 16px;
  text-decoration: none;
  color: inherit;
  line-height: 34px;
}

.academy-link__img {
  height: 34px;
  width: 27px;
  margin-left: auto;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .academy-link__img {
    margin-left: 20px;
  }
}
