.btn {
  @include btn-reset;
  color: #ffffff;
  background-color: $accent-color;
  text-align: center;
  text-transform: uppercase;
  font-family: $accent-font;
  line-height: 40px;
  display: inline-block;
  font-size: 16px;
  padding: 0 20px;

  &:hover,
  &:focus {
    background-color: $accent-color-dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--more {
    background-color: $simple-color;
    color: $main-text-color;

    &:hover,
    &focus {
      background-color: $simple-color-dark;
    }

    &:active {
      color: rgba($main-text-color, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .btn {
    line-height: 52px;
    font-size: 20px;
    padding: 0 27px;

    &--fix-size {
      line-height: 40px;
      font-size: 16px;
      padding: 0 20px;
    }
  }
}
