.btn {
  @include btn-reset;
  color: #ffffff;
  background-color: $accent-color;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-family: $accent-font;
  line-height: 40px;
  display: inline-block;
  font-size: 16px;

  &:hover {
    background-color: $accent-color-dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--more {
    background-color: $simple-color;
    color: $main-text-color;

    &:hover {
      background-color: $simple-color-dark;
    }

    &:active {
      color: rgba($main-text-color, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .btn {
    line-height: 52px;
    font-size: 20px;
    padding: 0 27px;
  }
}

// .btn {
//   @include btn-reset;
//   color: #ffffff;
//   background-color: $accent-color;
//   text-align: center;
//   text-transform: uppercase;
//   font-weight: 400;
//   font-family: $accent-font;
//   line-height: 20px;
//   font-size: 20px;
//   display: inline-block;
//   padding: 16px 25px;
// }
