.checkbox {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: $accent-font;
  display: block;
}

.checkbox__control {
  &:focus ~ .checkbox__label {
    outline: 1px dotted #000000;

    &::before {
      border-color: $simple-color-night;
    }
  }

  &:checked ~ .checkbox__label {
    &::after {
      transform: scale(1) rotate(-45deg);
    }
  }

  &:disabled ~ .checkbox__label {
    opacity: 0.3;
  }

  &:disabled ~ .checkbox__label:hover {
    &::before {
      border-color: $simple-color-dark;
    }
  }
}

@media (min-width: $tablet-width) {
  .checkbox {
    font-size: 20px;
    line-height: 20px;
  }
}

.checkbox__label {
  position: relative;
  padding: 7px 0;
  padding-left: 45px;
  display: inline-block;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $simple-color-dark;
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid $accent-color;
    border-left: 2px solid $accent-color;
    width: 18px;
    height: 8px;
    top: 9px;
    left: 7px;
    transition: transform 1s;
    transform: scale(0) rotate(0deg);
  }

  &:hover::before {
    border-color: $simple-color-night;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .checkbox__label {
    padding: 10px 0;
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }

    &::after {
      width: 20px;
      height: 10px;
      top: 11px;
      left: 11px;
    }
  }
}
