.contacts {
  padding: 27px 20px;
  background-color: $simple-color;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 114px;

  &--const-bg {
    background-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 30px 71px;
    padding-top: 64px;
    min-height: 201px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    background-color: #ffffff;
    width: 570px;
    min-height: 201px;
    padding: 40px 76px;
    padding-top: 64px;
  }
}

.contacts__caption {
  font: 16px/20px $accent-font;
  text-transform: uppercase;
  color: #000000;
  max-width: 140px;
}

@media (min-width: $tablet-width) {
  .contacts__caption {
    font-size: 20px;
    line-height: 25px;
    max-width: 162px;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
  max-width: 140px;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts__address {
    text-align: right;
    font-size: 16px;
    max-width: 162px;

    br {
      display: initial;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    text-align: left;
    max-width: 169px;
  }
}
