.example {
  padding-top: 17px;
  padding-bottom: 37px;
  background-color: $simple-color;
}

@media (min-width: $tablet-width) {
  .example {
    border-top: 1px solid $simple-color-dark;
    margin-top: -31px;
    padding-top: 43px;
    padding-bottom: 0;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .example {
    border-top: none;
    padding-top: 60px;
    overflow: hidden;
    width: 100%;
  }
}

.example__title {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .example__title {
    margin-bottom: 63px;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    margin-bottom: 75px;

    .title__text {
      max-width: 50%;
    }
  }
}

// .example__wrapper {

// }

@media (min-width: $desktop-width) {
  .example__wrapper {
    background-image: linear-gradient(to right, $simple-color, $simple-color 70%, $simple-color-dark 70%, $simple-color-dark);
  }
}

.example__content {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .example__content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__content {
    @include center;
    display: flex;
    justify-content: space-between;
  }
}

.example__info {
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .example__info {
    margin-bottom: 62px;
  }
}

@media (min-width: $desktop-width) {
  .example__info {
    max-width: 445px;
    margin-bottom: 50px;
    padding-top: 70px;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .example__text {
    margin-bottom: 69px;
  }
}

// .example__stat-wrapper {

// }

@media (min-width: $tablet-width) {
  .example__stat-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .example__stat-wrapper {
    display: block;
  }
}

.example__stat-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .example__stat-list {
    width: 366px;
    flex: 0 0 366px;
  }
}

@media (min-width: $desktop-width) {
  .example__stat-list {
    margin-bottom: 31px;
  }
}

.example__stat-item {
  flex: 0 1 44%;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.example__stat-value {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 24px;
  line-height: 24px;
  font-family: $accent-font;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $simple-color-night;
  border-radius: 5px;
  padding: 15px 10px;
}

@media (min-width: $tablet-width) {
  .example__stat-value {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: $desktop-width) {
  .example__stat-value {
    padding: 17px 10px;
  }
}

.example__stat-name {
  align-self: center;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 18px;
  margin-top: -8px;
  background-color: $simple-color;
  padding: 0 5px;
  text-transform: lowercase;
  max-width: 90px;
  word-wrap: break-word;
}

@media (min-width: $tablet-width) {
  .example__stat-name {
    font-size: 14px;
    line-height: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -5px;
    max-width: none;
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .example__stat-name {
    margin-top: -9px;
    background-color: $simple-color;
  }
}

.example__total {
  margin-top: 0;
  font-family: $accent-font;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example__total {
    text-align: right;
    font-size: 20px;
    padding-top: 5px;
    line-height: 30px;

    span {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .example__total {
    text-align: left;
    padding-top: 0;

    span {
      display: inline;
      padding-left: 59px;
    }
  }
}

.example__slider {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: $tablet-width) {
  .example__slider {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 231px;
  }
}

@media (min-width: $desktop-width) {
  .example__slider {
    margin-top: 0;
    margin-left: 0;
    margin-right: -60px;
  }
}
