// .form {

// }

// @media (min-width: $tablet-width) {
//   .form {

//   }
// }

@media (min-width: $desktop-width) {
  .form {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.form__text {
  font-family: $accent-font;//
  text-transform: uppercase;//
  margin: 0 20px;//
  width: 270px;//
  margin-bottom: 39px;//
}

@media (min-width: $tablet-width) {
  .form__text {
    width: 370px;//
    font-size: 20px;//
    line-height: 30px;//
    margin-left: 70px;//
    margin-bottom: 66px;//
  }
}

@media (min-width: $desktop-width) {
  .form__text {
    margin: 40px;//
    margin-bottom: 65px;//
  }
}

// .form__base-wrapper {

// }

@media (min-width: $desktop-width) {
  .form__base-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
  }
}

// .form__group {

// }

.form__item-group {
  display: flex;
  flex-wrap: wrap;

  &--radio {
    border: 1px solid $simple-color;
    margin: 0 -21px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 28px;
  }

  &--base {
    padding-bottom: 9px;
  }

  &--contacts {
    padding-bottom: 14px;
  }

  &--checkbox {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .form__item-group {
    &--radio {
      margin: 0 67px;
      padding-top: 23px;
      margin-bottom: 74px;
    }

    &--base {
      padding-bottom: 52px;
    }

    &--contacts {
      padding-top: 42px;
      padding-bottom: 45px;
    }

    &--checkbox {
      margin-top: 57px;
      padding: 0 40px;
      margin-bottom: 22px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__item-group {
    &--radio {
      width: 570px;
      margin: 0 40px;
      padding-left: 27px;
      padding-top: 24px;
    }

    &--base {
      margin: 0 40px;
      width: 570px;
      padding-bottom: 0;
    }

    &--contacts {
      flex-wrap: nowrap;

      .form__item {
        width: 50%;
        margin-left: 40px;
        margin-right: 40px;
      }
    }

    &--checkbox {
      margin-top: 57px;
      padding: 0;
      margin-bottom: 29px;
    }
  }
}

.form__item {
  display: flex;//
  width: 100%;//
  padding: 0 20px;//
  margin-bottom: 14px;//

  &--radio {
    margin-bottom: 12px;

    .form__label {
      position: relative;//
      padding-left: 46px;//
      padding-top: 6px;
      padding-bottom: 6px;

      &::before {
        content: "";//
        display: block;//
        width: 30px;//
        height: 30px;//
        border-radius: 50%;//
        border: 1px solid $simple-color-dark;//
        position: absolute;//
        top: 0;//
        left: 0;//
      }

      &::after {
        content: "";//
        display: block;//
        width: 12px;//18
        height: 12px;//
        position: absolute;//
        background-color: $accent-color;//
        border-radius: 50%;//
        top: 9px;//
        left: 9px;//
        transform-origin: center center;//
        transform: scale(0);//
        transition: transform 0.5s;//
      }
    }

    input:checked + .form__label {
      &::after {
        transform: scale(1);
      }
    }
  }

  &--checkbox {
    margin-bottom: 13px;

    .form__label {
      position: relative;
      padding-left: 46px;
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;

      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid $simple-color-dark;
        position: absolute;
        top: 0;
        left: 0;
      }

      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 7px;
        top: 8px;
        left: 6px;
        border-bottom: 2px solid $accent-color;
        border-left: 2px solid $accent-color;
        transform-origin: center center;
        transform: scale(0) rotate(-45deg);
        transition: transform 0.5s;
      }
    }

    input:checked + .form__label {
      &::after {
        transform: scale(1) rotate(-45deg);
      }
    }
  }

  &--email {
    .form__field {
      padding-right: 50px;
      background-image: url("../img/icon-mail.svg");
      background-size: 17px 13px;
    }
  }

  &--tel {
    .form__field {
      padding-right: 50px;
      background-image: url("../img/icon-phone.svg");
      background-size: 20px 20px;
    }
  }
}

@media (min-width: $tablet-width) {
  .form__item {
    padding: 0 67px;//
    margin-bottom: 20px;//

    &--radio {
      padding-left: 11px;
      margin-bottom: 14px;//

      .form__label {
        padding-left: 59px;
        padding-top: 10px;
        padding-bottom: 10px;

        &::before {
          width: 40px;//
          height: 40px;//
        }

        &::after {
          width: 18px;//
          height: 18px;//
          top: 11px;//
          left: 11px;//
        }
      }
    }

    &--checkbox {
      width: 50%;
      margin-bottom: 32px;
      padding: 0 30px;
      .form__label {
        position: relative;
        padding-left: 58px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        &::before {
          content: "";
          display: block;
          width: 40px;
          height: 40px;
          border: 1px solid $simple-color-dark;
          position: absolute;
          top: 0;
          left: 0;
        }

        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 10px;
          top: 13px;
          left: 11px;
          border-bottom: 2px solid $accent-color;
          border-left: 2px solid $accent-color;
          transform-origin: center center;
          transform: scale(0) rotate(-45deg);
          transition: transform 0.5s;
        }
      }

      input:checked + .form__label {
        &::after {
          transform: scale(1) rotate(-45deg);
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .form__item {
    padding: 0;

    &--checkbox {
      width: 10%;
      flex-grow: 1;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}

.form__label {
  font-family: $accent-font;//
  font-size: 16px;//
  line-height: 18px;//
  text-transform: uppercase;//
  display: flex;//
  margin-right: 15px;
  padding-top: 13px;
  padding-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .form__label {
    font-size: 20px;//
    line-height: 20px;//
    padding-top: 16px;
    padding-bottom: 6px;
  }
}

.form__field {
  font-family: $accent-font;//
  font-size: 16px;//
  line-height: 43px;//
  text-transform: uppercase;//
  border: 1px solid $simple-color-dark;//
  background-repeat: no-repeat;
  background-position: right 15px center;
  padding: 0 15px;//
  outline: none;//
  box-shadow: none;//
  flex-grow: 1;
  min-width: 0;//
  height: 45px;

  &:focus {
    border-color: #000000;
  }

  &:-moz-ui-invalid {
    border-color: red;
  }

  &--textarea {
    display: block;
    resize: vertical;//
    line-height: 18px;//
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 35px;
    padding: 11px 12px;
    height: 150px;
    margin-bottom: 28px;
    width: calc(100% - 2 * 20px);
  }
}

@media (min-width: $tablet-width) {
  .form__field {
    font-size: 20px;//
    line-height: 50px;//
    padding: 0 20px;//
    height: 52px;

    &--textarea {
      line-height: 30px;//
      margin-left: 70px;
      margin-right: 70px;
      margin-top: 76px;
      padding: 9px 20px;
      height: 174px;
      width: calc(100% - 2 * 70px);
      margin-bottom: 65px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__field {
    &--textarea {
      padding-top: 9px;
      padding-bottom: 9px;
      margin: 0 40px;
      margin-top: 78px;
      margin-bottom: 67px;
      width: 1220px;
    }
  }
}

.form__submit-group {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .form__submit-group {
    flex-direction: row;
    padding: 0 40px;
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .form__submit-group {
    padding: 0;
    margin-bottom: 61px;
  }
}

.form__btn {
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .form__btn {
    margin-left: 30px;
    margin-right: 30px;
    flex: 1 1 100px;
  }
}

@media (min-width: $desktop-width) {
  .form__btn {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.form__small-text {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form__small-text {
    margin-left: 30px;
    margin-right: 30px;
    flex: 1 1 100px;
    text-align: left;
    font-size: 16px;
    line-height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .form__small-text {
    margin-left: 40px;
    margin-right: 40px;
  }
}
