.header {
  position: relative;
  z-index: 1;
}

// .header__content {

// }

@media (min-width: $tablet-width) {
  .header__content {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 15px;//
  }
}

@media (min-width: $desktop-width) {
  .header__content {
    @include center;
    padding-top: 54px;
  }
}

.header__logo-link {
  height: 66px;
  border-bottom: 1px solid $simple-color-dark;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .header__logo-link {
    padding-left: 0;
    height: auto;
    border-bottom: none;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.header__logo-img {
  display: block;
  width: 191px;
  height: 38px;
}

@media (min-width: $tablet-width) {
  .header__logo-img {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .header__logo-img {
    width: 202px;
    height: 59px;
  }
}

// .header__navigation {

// }

@media (min-width: $desktop-width) {
  .header__navigation {
    max-width: 50%;
  }
}
