// .header {

// }

@media (min-width: $tablet-width) {
  .header {
    margin: 23px 0;
  }
}

@media (min-width: $desktop-width) {
  .header {
    margin: 52px 0;

    &--index {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 50%;
        height: 696px;
        background-image: url("../img/index-background-mobile@1x.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $accent-color;
      }
    }
  }
}

// .header__content {

// }

@media (min-width: $tablet-width) {
  .header__content {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .header__content {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1300px;
    margin: 0 auto;
  }
}

// .header__navigation {

// }

@media (min-width: $tablet-width) {
  .header__navigation {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .header__navigation {
    max-width: 50%;
  }
}
