// .header {

// }

@media (min-width: $tablet-width) {
  .header {
    min-height: 110px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

// .header__content {

// }

@media (min-width: $tablet-width) {
  .header__content {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .header__content {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.header__navigation {
  margin-left: auto;
}
