.how-work {
  margin-bottom: 41px;
}

@media (min-width: $desktop-width) {
  .how-work {
    margin-bottom: 28px;
  }
}

.how-work__title {
  padding: 0 20px;
  margin-top: -4px;
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .how-work__title {
    padding: 0 30px;
    margin-top: 0;
    margin-bottom: 71px;
  }
}

@media (min-width: $desktop-width) {
  .how-work__title {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 73px;
  }
}

.how-work__list {
  @include list-reset;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .how-work__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    counter-reset: how-work;
  }
}

@media (min-width: $desktop-width) {
  .how-work__list {
    flex-wrap: nowrap;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.how-work__item {
  position: relative;
  display: flex;
  letter-spacing: -0.008em;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    flex: 0 0 60px;
    align-self: flex-start;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $accent-color;
  }

  &--leave {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--water {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--fork {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .how-work__item {
    margin: 0 30px;
    flex: 1 1 40%;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    margin-bottom: 36px;
    padding-right: 83px;
    padding-bottom: 97px;

    &::before {
      flex-basis: 80px;
      width: 80px;
      height: 80px;
      margin-bottom: 32px;
    }

    &::after {
      content: counter(how-work);
      counter-increment: how-work;
      font-size: 281px;
      line-height: 281px;
      color: $simple-color;
      font-family: $accent-font;
      position: absolute;
      top: -40px;
      right: 77px;
      z-index: -1;
    }

    &:first-child {
      &::after {
        right: 95px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .how-work__item {
    margin: 0 40px;
    flex: 1 1 20%;
    padding-right: 4px;

    &::after {
      right: -2px;
    }

    &:first-child {
      &::after {
        right: 17px;
      }
    }
  }
}
