.how-work {
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .how-work {
    padding-top: 15px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .how-work {
    padding-top: 33px;
  }
}

.how-work__title {
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .how-work__title {
    margin-bottom: 72px;
  }
}

.how-work__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .how-work__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: how-work;
  }
}

@media (min-width: $desktop-width) {
  .how-work__list {
    @include center;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}

.how-work__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  letter-spacing: -0.008em;
  margin: 0 20px;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $accent-color;
    background-size: 50px 50px;
  }

  &--leave {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }
  }

  &--water {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--fork {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }

  div {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .how-work__item {
    margin: 0 30px;
    margin-bottom: 36px;
    flex: 1 1 auto;
    width: 40%;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    padding-right: 83px;
    padding-bottom: 98px;

    &::before {
      width: 80px;
      height: 80px;
      flex-basis: 80px;
      margin-bottom: 31px;
    }

    &::after {
      content: counter(how-work);
      counter-increment: how-work;
      font-size: 281px;
      line-height: 281px;
      color: $simple-color;
      font-family: $accent-font;
      position: absolute;
      top: -40px;
      right: 77px;
      z-index: -1;
    }

    &:first-child {
      &::after {
        right: 95px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .how-work__item {
    margin: 0 40px;
    flex: 0 1 auto;
    width: 245px;
    padding-right: 4px;

    &::after {
      right: -2px;
    }

    &:first-child {
      &::after {
        right: 17px;
      }
    }
  }
}
