.logo-link {
  display: flex;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid $simple-color-dark;
  padding-left: 20px;
  padding-right: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .logo-link {
    border-bottom: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.logo-link__img {
  width: 190px;
  height: 38px;
}

.logo-link__text {
  display: none;
}
