.main {
  overflow-x: hidden;
}

.main__title {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .main__title {
    padding: 0 30px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main__title {
    padding: 0 40px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
