.main {
  display: block;
}

.main__title {
  margin-top: 15px;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .main__title {
    margin-top: 43px;
  }
}

@media (min-width: $desktop-width) {
  .main__title {
    margin-top: 60px;
  }
}

// .main__promo-top {

// }

@media (min-width: $desktop-width) {
  .main__promo-top {
    margin-bottom: 80px;
  }
}

.main__how-work {
  margin-top: -3px;
}

@media (min-width: $tablet-width) {
  .main__how-work {
    margin-top: 0;
  }
}
