.navigation {
  display: flex;
  font-family: $accent-font;
  position: relative;
}

.navigation__list {
  @include list-reset;
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
  }
}

// .navigation__item {
//   flex-grow: 1;
// }

@media (min-width: $tablet-width) {
  .navigation__item {
    display: flex;
    align-items: center;
  }
}

.navigation__link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  border-bottom: 1px solid $simple-color-dark;
  font-weight: 500;
  flex-grow: 1;
  padding: 23px 20px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .navigation__link {
    padding: 0;
    margin-left: 35px;
    font-size: 18px;
    line-height: 45px;
    font-weight: 400;
    border-bottom-color: transparent;
    border-bottom-width: 3px;

    &--active {
      border-bottom-color: $accent-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation__link {
    font-size: 20px;

    &--light {
      color: #ffffff;
    }

    &--light.navigation__link--active {
      border-bottom-color: #ffffff;
    }
  }
}

.navigation__btn {
  @include btn-reset;
  position: absolute;
  overflow: hidden;
  text-indent: 999px;
  right: 0;
  top: -65px;
  z-index: 100;
  width: 64px;
  height: 64px;

  &:hover {
    opacity: 0.6;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 23px;
    left: 20px;
    background-color: #000000;
    width: 24px;
    height: 2px;
    box-shadow: 0 6px 0 0 #000000;
    transition: 1s;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 35px;
    left: 20px;
    background-color: #000000;
    width: 24px;
    height: 2px;
    transition: 1s;
  }

  &--close {
    &::before {
      top: 31px;
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      top: 31px;
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: $tablet-width) {
  .navigation__btn {
    display: none;
  }
}
