.pattern-card {
  background-color: $simple-color;
  position: relative;
  padding: 20px;
  padding-top: 31px;
  padding-bottom: 18px;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $accent-color;
    position: absolute;
    top: 26px;
    left: 23px;
  }

  &::after {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--slim {
    &::after {
      background-image: url("../img/icon-cat-slim.svg");
      background-size: 35px 49px;
      top: 13px;
      left: 13px;
    }
  }

  &--pro {
    &::after {
      background-image: url("../img/icon-cat-pro.svg");
      background-size: 67px 28px;
      top: 15px;
      left: 12px;
    }
  }
}

@media (min-width: $tablet-width) {
  .pattern-card {
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 283px;
    padding-bottom: 59px;
    margin-bottom: 30px;

    &::before {
      width: 200px;
      height: 200px;
      top: 92px;
      right: 62px;
      left: unset;
    }

    &::after {
      width: 268px;
      height: 194px;
    }

    &--slim {
      &::after {
        background-size: 140px 194px;
        top: 80px;
        left: unset;
        right: 28px;
      }
    }

    &--pro {
      padding-right: 312px;

      &::after {
        background-size: 268px 112px;
        top: 93px;
        left: unset;
        right: 28px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .pattern-card {
    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
      right: unset;
    }

    &::after {
      width: 134px;
      height: 97px;
    }

    &--slim {
      padding-right: 52px;

      &::after {
        background-size: 70px 97px;
        top: 41px;
        left: 34px;
        right: unset;
      }
    }

    &--pro {
      padding-right: 52px;

      &::after {
        background-size: 134px 56px;
        top: 49px;
        left: 34px;
        right: unset;
      }
    }
  }
}

.pattern-card__title {
  font: 24px/37px $accent-font;
  text-transform: uppercase;
  margin: 0;
  margin-left: 71px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .pattern-card__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .pattern-card__title {
    padding-left: 162px;
    margin-bottom: 74px;
  }
}

.pattern-card__list {
  @include list-reset;
}

// .pattern-card__item {

// }

.pattern-card__description {
  border-bottom: 1px solid $simple-color-dark;
  margin: 0;
  padding-bottom: 21px;
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .pattern-card__description {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .pattern-card__description {
    margin-bottom: 10px;
  }
}

.pattern-card__link {
  font: 16px/16px $accent-font;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: -5px center;
    background-size: 24px 11px;
    height: 16px;
    width: 33px;
    margin-left: 15px;
  }

  &:hover {
    &::after {
      background-position: 0 center;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .pattern-card__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      margin-left: 25px;
    }
  }
}
