.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  border-top: 1px solid $simple-color-dark;
  border-bottom: 1px solid $simple-color-dark;
  padding-bottom: 23px;

  &--more {
    padding-top: 78px;
    position: relative;
    background-image: url("../img/icon-plus.svg");
    background-size: 30px 30px;
    background-position: center 26px;
    background-repeat: no-repeat;

    .product-card__title {
      font: 16px/20px $accent-font;
      color: #000000;
      text-transform: uppercase;
      margin-bottom: 9px;
    }

    .product-card__info {
      text-align: center;
      margin-top: 0;
      margin-bottom: 22px;
    }
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    width: 324px;
    background-color: $simple-color;
    padding: 40px 38px;
    padding-right: 37px;
    margin-top: 82px;
    flex-grow: 1;

    &--more {
      background-size: 60px 60px;
      background-position-y: 54px;
      background-color: transparent;
      border: 1px solid $simple-color-dark;
      padding-top: 163px;
      position: relative;
      display: block;

      .product-card__title {
        font-size: 20px;
        width: 70%;
        text-align: center;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
      }

      .product-card__info {
        font-size: 16px;
        width: 70%;
        line-height: normal;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      .product-card__btn {
        position: absolute;
        bottom: 40px;
        left: 38px;
        right: 37px;
        width: auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    &--more {
      .product-card__title {
        width: 100%;
      }

      .product-card__info {
        width: 100%;
      }
    }
  }
}

.product-card__img-wrapper {
  width: 50%;
  display: block;
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .product-card__img-wrapper {
    height: 208px;
    margin-top: -122px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: -38px;
    margin-right: -38px;
    width: 100%;
  }
}

.product-card__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 240px;
}

@media (min-width: $tablet-width) {
  .product-card__img {
    width: 100%;
  }
}

.product-card__text-wrapper {
  width: 50%;
  flex-grow: 1;
  padding-top: 20px;
  position: relative;
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .product-card__text-wrapper {
    width: auto;
    padding-top: 35px;
    margin-bottom: 33px;
  }
}

.product-card__title-link {
  font: 16px/20px $accent-font;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  display: block;
  width: 60%;
  letter-spacing: -0.08em;
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .product-card__title-link {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 60%;
    letter-spacing: -0.07em;
    margin-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__title-link {
    width: 78%;
  }
}

.product-card__title {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
}

.product-card__info {
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .product-card__info {
    font-size: 16px;
    line-height: 31px;
    margin-bottom: 0;
  }
}

// .product-card__row {

// }

@media (min-width: $tablet-width) {
  .product-card__row {
    border-bottom: 1px solid $simple-color-dark;
  }
}

.product-card__param-name {
  padding: 0;
  word-wrap: break-word;
  word-break: break-all;
}

.product-card__param-value {
  padding: 0;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

.product-card__btn {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product-card__btn {
    margin-top: auto;
  }
}
