.promo-top {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: repeat-x;
  background-size: auto auto;
  background-position: center top;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .promo-top {
    background-image: none;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .promo-top {
    // background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    padding-top: 78px;
    margin-bottom: 35px;
    min-height: 601px;
  }
}

.promo-top__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-top: 0;
}

@media (min-width: $tablet-width) {
  .promo-top__wrapper {
    padding-left: 117px;//
    padding-right: 30px;
    padding-top: 4px;//
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .promo-top__wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    position: relative;
    padding-left: 120px;
  }
}


.promo-top__title {
  font: 36px/36px $accent-font;
  text-align: center;
  margin: 0;
  margin-bottom: 11px;
  max-width: 340px;
}

@media (min-width: $tablet-width) {
  .promo-top__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
    margin-bottom: 41px;
    order: 1;
    max-width: 500px;
  }
}

.promo-top__slogan {
  font: 14px/14px $accent-font;
  text-transform: uppercase;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .promo-top__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    margin-bottom: 48px;
    order: 2;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .promo-top__slogan {
    margin-bottom: 53px;
  }
}

.promo-top__img {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
  max-width: 345px;
}

@media (min-width: $tablet-width) {
  .promo-top__img {
    order: 4;
    margin-top: -80px;
    margin-bottom: 0;
    align-self: center;
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .promo-top__img {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 3px;
    left: 600px;
  }
}

.promo-top__btn {
  align-self: stretch;
}

@media (min-width: $tablet-width) {
  .promo-top__btn {
    align-self: auto;
    order: 3;
    z-index: 1;
    position: relative;
  }
}
