// .slider {

// }

@media (min-width: $tablet-width) {
  .slider {
    padding-top: 5px;
    padding-bottom: 71px;
    background-image: linear-gradient(to right, $simple-color, $simple-color 50%, $simple-color-dark 50%, $simple-color-dark);
  }
}

.slider__slides {
  position: relative;
  width: 320px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .slider__slides {
    width: 690px;
    height: 517px;
    margin-bottom: 17px;
    margin-top: -174px;
    left: 7px;
  }
}

@media (min-width: $desktop-width) {
  .slider__slides {
    top: -21px;
    left: -20px;
  }
}

.slider__slide {
  position: absolute;
  width: auto;
  height: 240px;
  bottom: 0;

  &--before {
    left: 0;
    clip: rect(auto 320px auto auto);
  }

  &--after {
    right: 0;
    clip: rect(auto auto auto 320px);
  }
}

@media (min-width: $tablet-width) {
  .slider__slide {
    height: 517px;

    &--before {
      left: 0;
      clip: rect(auto 338px auto auto);
    }

    &--after {
      right: 0;
      clip: rect(auto auto auto 338px);
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__slide {
    &--before {
      left: 0;
      clip: rect(auto 365px auto auto);
    }

    &--after {
      right: 0;
      clip: rect(auto auto auto 365px);
    }
  }
}

.slider__controls {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .slider__controls {
    align-items: center;
  }
}

.slider__btn {
  @include btn-reset;
  font: 16px/20px $accent-font;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .slider__btn {
    border-bottom: 1px dotted $simple-color-night;
    padding-bottom: 5px;
    font-size: 20px;
    flex: 0 0 60px;
    text-align: center;
    width: 60px;

    &:hover {
      border-bottom: 1px solid $main-text-color;
    }

    &:active {
      border-bottom-color: transparent;
    }
  }
}

.slider__range {
  height: 14px;
  border-radius: 6px;
  border: 1px solid $simple-color-night;
  position: relative;
  padding: 3px 5px;
  max-width: 84px;
  flex-grow: 1;
  margin: 0 18px;

  &--before {
    .slider__range-fill {
      margin-left: 0;
    }
  }

  &--after {
    .slider__range-fill {
      margin-right: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .slider__range {
    border: none;
    border-radius: 2.5px;
    height: 6px;
    background-color: $simple-color-night;
    width: 428px;
    max-width: none;
    flex-grow: 0;
  }
}

.slider__range-fill {
  height: 6px;
  border-radius: 3px;
  background-color: $accent-color;
  width: 50%;
  margin: 0 auto;
  transition: margin 1s;
}

@media (min-width: $tablet-width) {
  .slider__range-fill {
    display: none;
  }
}

.slider__range-flag {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider__range-flag {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 14px solid #ffffff;
    background-color: $accent-color;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.5);
    }

    &--active,
    &:focus {
      box-shadow: 0 0 0 2px $accent-color, 2px 2px 7px 0 rgba(0, 0, 0, 0.5);
      border-width: 11px;
      width: 30px;
      height: 30px;
    }
  }
}
