.social {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $simple-color-dark;
  border-bottom: 1px solid $simple-color-dark;
  padding-top: 22px;
  padding-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    padding: 0;
  }
}

// .social__item {

// }

.social__link {
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 0 19px;
}

@media (min-width: $tablet-width) {
  .social__link {
    margin: 0 14px;
  }
}

.social__icon {
  display: block;
}

@media (min-width: $tablet-width) {
  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
