.social {
  @include list-reset;
  border: 1px solid $simple-color-dark;
  border-left: none;
  border-right: none;
  padding: 22px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .social {
    padding-left: 30px;
  }
}

.social__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22px;
  height: 19px;
  margin: 0 17px;
}

@media (min-width: $tablet-width) {
  .social__item {
    width: 30px;
    height: 28px;
    margin: 0 10px;
  }
}

.social__link {
  display: block;
  margin: auto;

  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  text-indent: 999px;

  &--vk {
    width: 22px;
    height: 12px;
    background-image: url("../img/icon-vk-mobile.svg");
  }

  &--fb {
    width: 10px;
    height: 19px;
    background-image: url("../img/icon-fb-mobile.svg");
  }

  &--in {
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-insta-mobile.svg");
  }
}

@media (min-width: $tablet-width) {
  .social__link {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }

    &--in {
      width: 23px;
      height: 23px;
    }
  }
}
