*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.theme {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $main-text-color;
}

.theme__title-wrapper {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100vw;
    height: 3px;
    background-color: $accent-color;
    position: absolute;
    top: 21px;
    right: calc(100% + 25px);
  }

  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 3px;
    background-color: $accent-color;
    position: absolute;
    top: 21px;
    left: calc(100% + 25px);
  }
}

.theme__title {
  font-family: $accent-font;
  color: #000000;
  font-weight: normal;

  &--large {
    font-size: 36px;
    line-height: 60px;
  }

  &--medium {
    font-size: 24px;
    line-height: 24px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
