$accent-color: #68b738;
$accent-color-dark: #5eaa2f;

$simple-color: #f2f2f2;
$simple-color-dark: #ebebeb;

$main-text-color: #444444;

$accent-font: "Oswald", "Tahoma", sans-serif;

$tablet-width: 768px;
$desktop-width: 1300px;
